ion-icon[name="menu-outline"]{
    display: none;
    font-size: 2.4rem;
    cursor: pointer;
    /* transition: all 1s ease-in-out; */
}

ion-icon[name="menu-outline"]:hover + .navigation,
ion-icon[name="menu-outline"]:active + .navigation,
ion-icon[name="menu-outline"]:focus + .navigation{
    position: absolute;
    left: 0;
    height: 100vh;
    width: 80%;
    opacity: 1;
    background-color: var(--background-light-color);
    transition: all 1s ease-in-out;
    z-index: 1;
}

@media (max-width: 800px){
    .navigation{
        opacity: 0;
        position: absolute;
        width: 0;
        left: -80%;
        height: 100vh;
        top: 0;
        bottom: 0;
        flex-direction: column;
    }

    .navigation .logo-container{
        width: 100%;
        border-bottom: 1px solid var(--background-color);
    }

    .navigation nav{
        width: 100%;
    }
    .navigation nav ul li{
        width: 100%;
        border-bottom: 1px solid var(--background-lightest-color);
        padding: 1rem 0;
    }

    .navigation:hover{
        position: absolute;
        left: 0;
        height: 100%;
        width: 80%;
        opacity: 1;
        background-color: var(--background-light-color);
    }
    ion-icon[name="menu-outline"]{
        display: inline;
    }
}