* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body{
    background-color: var(--background-color);
    height: 100%;
    color: white;
    margin: 0;
    padding: 0;
}

body{
    /* display: flex; */
    height: 100%;
}

header{
    height: 100px;
    width: 100%;
    display: flex;
    padding: 0.8rem 2.4rem;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 2px 5px 1px rgb(55, 0, 255);
}
header div{
    height: 100px;
    display: flex;
    padding: 0.8rem 0.8rem;
    align-items: center;
    justify-content: flex-start;
}

.navigation{
    display: flex;
    transition: all 1s ease-in-out;
    z-index: 3;
}

#logo{
    height: 50px;
    width: 50px;
    border: 1px solid black;
    box-shadow: 2px 2px 5px 2px rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}

#profile{
    height: 50px;
    width: 50px;
    border: 1px solid black;
    border-radius: 50%;
}

.logo-container{
    display: flex;
    align-items: center;
}

ion-icon{
    font-size: 1.5rem;
}

.logo-container div{
    padding: 0 0.8rem;
}

.logo-container div h2 span{
    font-size: 1.2rem;
    font-weight: 100;
}

.nav_list__container{
    list-style-type: none;
}

.nav_list_item{
    text-decoration: none;
    font-family: inherit;
    color: white;
    padding: 0.8rem 1.6rem;
}

.nav_list_item:hover{
    background-color: var(--background-light-color);
}

.icons-container{
    flex-shrink: 1;
}

.search-outline{
    margin-right: -35px;    
}

.mic-outline{
    margin-left: -35px;
}

#search_input{
    background-color: var(--background-light-color);
    outline: none;
    border-radius: 7px;
    width: 100%;
    padding: 2px 50px;
    height: 2.4rem;
    color: white;
    border: none;
    font-size: 1.2rem;
}

main{
    display: flex;
    align-items: flex-start;
    /* padding-top: 2rem; */
    justify-content: space-around;
    margin: auto;
    width: 100%;
}

aside {
    width: 50vw;
    padding: 2rem;
    /* vertical-align: top; */
    /* overflow: auto; */
    height: fit-content;
    padding-right: 2rem;
    align-self: top;
}

#section_main{
    width: 100%;
    padding-left: 2rem;
    /* overflow: auto; */
    margin-top: 5px;
    height: fit-content;
    margin-bottom: 100px;
}

.outer-carousel {
    position: relative;
    /* left: 8vw; */
    margin-top: 5%;
    /* transition: all ease-in-out 1s; */
}

.carousel {
    width: inherit;
    height: auto;
    display: flex;
    flex-direction: row;
    overflow: visible;
    justify-content: space-around;
    /* flex-wrap: wrap; */
}

.carousel_container{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

.carousel img:nth-child(1) {
    position: relative;
    /* left: 41vw; */
    z-index: 2;
}

.carousel img {
    height: 15vw;
    width: 22.5vw;
    transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.2s;
}

.carousel2{
    box-shadow: 2px 2px 5px 2px var(--background-light-color);
    display: flex;
}

.carousel img:hover {
    z-index: 4;
    box-shadow: 0px 0px 12px 0.1px black;
    height: 18vw;
    width: 27vw;
}

.carousel-content{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.playall-btn{
    outline: none;
    padding: 0.8rem 1.6rem;
    border-radius: 0;
    background-image: linear-gradient(90deg, var(--blue), var(--violete));
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.followlink{
    text-decoration: none;
    color: white;
    float: right;
    padding-top: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.followlink:hover{
    border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.song-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 1rem;
}

.song_list__item{
    background-color: var(--background-light-color);
    align-items: center;
    margin-bottom: 1rem;
    padding-right: 1rem;
}

.song_list__item_content{
    display: flex;
    align-items: center;
}

.song_list__item_content span{
    padding: 1rem;
}

.song_list__item_content h5{
    margin: 0;
}

.song_name_container{
    padding-top: 10px;
    padding-left: 20px;
}

.song_name_container .small{
    font-size: 0.6rem;
}